.headerTop {
  // padding:10px 0;
  border-bottom: 1px solid #e5e5e5;
  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    .email,
    .phone {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
    .email {
      font-size: 16px;
      color: #252525;
      float: left;
      border-right: 1px solid #e5e5e5;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 20px;
    }
    .phone {
      float: right;
      font-size: 16px;
      color: #252525;
      line-height: 27px;
      padding-top: 15px;
      padding-bottom: 12px;
      padding-left: 20px;
    }
  }
  .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    .apps {
      display: flex;
      flex-direction: row;
      gap: 20px;
      float: right;
      padding-right: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-right: 1px solid #e5e5e5;
      span {
        svg {
          font-size: 16px;
          color: #252525;
        }
      }
    }
    .language {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 10px;
      float: right;
      margin-top: 15px;
      margin-bottom: 13px;
      .image {
        width: 40px;
        height: 20px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }
      }
      .text {
        display: flex;
        flex-direction: row;
        gap: 5px;

        p {
          font-size: 14px;
          color: #252525;
        }
        span {
          svg {
            font-size: 16px;
            color: #252525;
          }
        }
      }
    }
    .login {
      float: right;
      font-size: 14px;
      color: #252525;
      display: inline-block;
      padding-left: 20px;
      border-left: 1px solid #e5e5e5;
      padding-top: 18px;
      padding-bottom: 15px;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: baseline;
    }
  }
}
.headerBottom {
  padding: 39px 0;
  .searchPart {
    min-height: 50px;
    border: 1px solid #ebebeb;
    overflow: hidden;
    .category {
      border-right: 1px solid #e5e5e5;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      button {
        background: transparent;
        border: none;
        font-size: 16px;
        color: #252525;
        padding: 12px 16px 12px;
      }
      span {
        padding-top: 10px;
        svg {
          color: #b4b2b2;
          font-size: 20px;
        }
      }
    }
    .search {
      form {
        display: flex;
        flex-direction: row;
        input {
          width: 100%;
          height: 50px;
          border: none;
          font-size: 16px;
          color: #d1d1d1;
          padding-left: 20px;
        }
        button {
          font-size: 16px;
          color: #ffffff;
          border: 1px solid #e7ab3c;
          background: #e7ab3c;
          padding: 12px 16px 12px;
          cursor: pointer;
          svg {
            font-size: 18px;
          }
        }
      }
    }
  }
  .likeAndcard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    span {
      svg {
        font-size: 25px;
        color: #252525;
      }
    }
    p {
      font-size: 18px;
      font-weight: 700;
      color: #252525;
    }
  }
}
@media (max-width:1000px) {
  .headerTop{
    .left{
      .email,.phone{
        display: none;
      }
    }
    .right{
      .apps{
        display: none;
      }
    }
  }
  .headerBottom{
    .searchPart{
      .category{
        display: none;
      }
    }
    .likeAndcard{
      display: none;
    }
  }
}
